.heading{
    font-size: 25px;
    text-align: left;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05) rotate(.2deg); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
  }

.heading-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Seemore-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.card-title{
    font-size: 18px;
}

.card-text{
    font-size: 14px;
    font-weight: 600;
    color: #757575;
}

.price-text{
    font-size: 16px;
    color: #23418C;
    font-weight: 700;
}

.music-image {
    border-radius: 14px; 
    height: 155px !important;
    width: 100% !important;
  }

.monthly-payment{
    font-size: 14px;
    font-weight: 600px;
}

.buynow-button{
    background-color: #23418C !important;
    color: white; 
    border: none; 
    padding: 8px 18px; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
}

/* Play icon container */
.play-icon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .play-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  